@import "@/assets/scss/mixins/background.mixin.scss";
@import "@/assets/scss/mixins/buttons.mixin.scss";
@import 'floating-vue/dist/style.css';

#app {     
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;   
}

$primary:  #003399;
$primaryHighlight: #335cad;
$accent:  #e600ac;
$secondary: #505050;
$success: #28a428;
$error: #ff1a1a;

$navbarHeight: 70px;
$contentHeight: calc(100vh - $navbarHeight);

$formBackgroundImage: "@/assets/images/formBackground.jpg"; 
$desktopLandingImage: "@/assets/images/manyHorses.jpg"; 

.btn {
    display: block;    
    padding: 16px 24px;
    min-width: 155px; 
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: white;

    &:hover {
        cursor: pointer;
    }
}



a {
    text-decoration: none;       
}

.btn-primary {
    background-color: $primary;   
    &:hover {
        background-color: darken($primary, 15%);
    }
}

.btn-accent {
    background-color: $accent;   
    &:hover {
        background-color: darken($accent, 5%);        
    }
}

.btn-success {
    background-color: $success;
    &:hover {
        background-color: darken($success, 5%);
    }
}

.btn-secondary {
    background-color: $secondary;
    &:hover {
        background-color: darken($secondary, 5%);
    }
}

.btn-round {
    border: none;
    border-radius: 50%;
    font-weight:700;
    color: white;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 22px;
    cursor: pointer;
}

.btn-full {
    @include full-width-btn 
}

.btn-full-mob {
    @media screen and (max-width: 767px) {
        @include full-width-btn
    }
}


.error-message {
    color: $error;
}

